/* HTML Tag modifications */

body {
  background-color: whitesmoke;
  font-family: Ubuntu;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu;
}

p {
  color: #0B0500;
  opacity: 0.75;
}

a {
  font-family: Ubuntu;
}

/* Headings */

.big-heading: {
  font-family: Ubuntu;
  color: white;
  font-weight: bold;
  font-size: 4rem;
  line-height: 1.5;
}

.section-heading: {
  font-size: 3rem;
  line-height: 1.5;
}

.feature-title {
  font-size: 1.5rem;
}

/* Contents */

.left-column {
  font-family: Ubuntu;
  color: white;
  text-align: left;
  font-weight: bolder;
}

.right-column {
  /* Image of TinDog */
}

#title .container-fluid {
  /* top, left/right, bottom */
  padding: 2% 2% 8%;
}

.container-fluid {
  padding: 7% 15%;
}

.container-fluid #nav {
  padding: 1% 1% 1% 1%;
}

/* .nav-div#nav {
  padding: 2% 2%;
} */

/* Sections */

.colored-section#title {
  background-color: #FE5E41;
}

.colored-section#testimonials {
  background-color: #4B3B47;
  color: #fff;
}

.colored-section#cta {
  background-color: #05668D;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation-bar */

.navbar-brand {
  color: crimson;
  font-family: Ubuntu;
}

#brand-style {
  font-size: 2.5rem;
  font-family: Ubuntu;
  color: white;
}

/* Download buttons */

.download-button {
  /* top, right, left, bottom */
  margin: 5% 3% 5% 0;
}

/* Title Section */

.title-image {
  padding-top: 1rem;
  right: 15%;
  /* Helps so the image won't be so "in your face". */
  width: 25%;
  transform: rotateZ(15deg);
  position: absolute;
  z-index: 0;
}

#title {
  position: relative;
  z-index: 1;
}

@media (max-width: 750px) {
  .title-image {
    display: none;
  }
  .left-column {
    color: white;
    text-align: center;
    font-weight: bolder;
  }
  .right-column {
    width: 0;
    height: auto;
  }
}

@media (max-width: 956px) {
  /* Title image */
  .title-image {
    padding: 2rem 2rem;
    position: absolute;
    right: 15%;
    /* Helps so the image won't be so "in your face". */
    width: 30%;
    transform: rotateZ(15deg);
    z-index: 0;
  }

  /* ID modifications */

  #title {
    position: relative;
    z-index: 1;
  }

  #features {
    position: relative;
    z-index: 1;
  }
}

/* Features Section */

#features {
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #00A878;
  margin: 1rem;
}

.icon:hover {
  color: #FE5E41;
  opacity: 0.75;
}

/* Testimonial Section */

.testimonial-image {
  width: 12%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
}

@media (max-width: 350px) {
  .testimonial-text {
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media (max-width: 540px) {
  .testimonial-text {
    font-size: 1rem;
    line-height: 1.5;
  }
}

/* Press Section */

#press {
  background-color: #4B3B47;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  /* top, left/right, bottom */
  margin: 20px 20px 20px;
}

.carousel-item {
  /* Use to be padding: 7% 15%, moved CSS styling to container-fluid class */
}

.carousel-inner {
  padding: 2% 5%;
}

/* Pricing Section */
#pricing {
  padding: 100px;

}

.pricing-column {
  /* top/bottom, left/right */
  padding: 3% 2%;
}

.price-text {
  font-size: 2rem;
  line-height: 1.5;
}

/* Call to action Section */

.cta-heading {
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
}

@media (max-width: 350px) {
  .cta-heading {
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media (max-width: 540px) {
  .cta-heading {
    font-size: 2rem;
    line-height: 1.5;
  }
}

/* Footer Section */

.social-icon {
  margin: 10px 10px;
}
